<!-- <nav class="navbar navbar-default navbar-fixed"> -->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">

			<a class="navbar-brand" href="index.html" th:href="@{/}"><span
				class="glyphicon glyphicon-home">Home</span></a>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown"> Admin <span class="caret"></span></a>

				<ul class="dropdown-menu">
					<li><a href="../users/list" th:href="@{/users/list}">All
							Users</a></li>
					<li><a href="../roles/list" th:href="@{/roles/list}">All
							Roles</a></li>
					<li><a href="../courses/listCategory"
						th:href="@{/courses/listCategory}">All Courses</a></li>

					<li><a href="../videos/list" th:href="@{/videos/list}">All
							Videos</a></li>

					<li><a href="../batches/list" th:href="@{/batches/list}">All
							Batches</a></li>
					<li><a href="../batchstudents/list"
						th:href="@{/batchstudents/list}"> All StudentBatches</a></li>


				</ul></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown"> My Profile <span class="caret"></span></a>

				<ul class="dropdown-menu">
					<li><a href="../users/MyProfile" th:href="@{/users/myProfile}">My
							Profile </a></li>


					<li><a href="../users/changepassword"
						th:href="@{/users/changepassword}">Change Password ! </a></li>

				</ul></li>
			<li><a href="../auth/Logout" th:href="@{/auth/Logout}">
					<p>Log out</p>
			</a></li>
			<!-- <li class="separator hidden-lg hidden-md"></li> -->
		</ul>
	</div>

</nav>

<!-- <div class="container">
	<div class="row">
		<div th:include="errorPage"></div>
	</div>
</div> -->

