
<link rel="stylesheet" href="assets/css/bootstrap.min.css"
	th:href="@{/assets/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../assets/css/bootstrap_custom_nav_bar.css" />
<link rel="stylesheet" href="../assets/css/style.css"
	th:href="@{/assets/css/style.css}" />
<link rel="stylesheet" href="../assets/css/mdb.min.css"
	th:href="@{/assets/css/mdb.min.css}" />

<script src="../assets/js/jquery.min.js"
	th:href="@{/assets/js/jquery.min.js}"></script>
<script src="../assets/js/bootstrap.min.js"
	th:href="@{/assets/js/bootstrap.min.js}"></script>
<script src="../assets/js/mdb.min.js" th:href="@{/assets/js/mdb.min.js}"></script>
<script src="../assets/js/tether.min.js"
	th:href="@{/assets/js/tether.min.js}"></script>

<nav class="navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="index.html" th:href="@{/}"><span
				class="glyphicon glyphicon-home"> DistanceCourse Application</span></a>
		</div>

		<ul class="nav navbar-nav">


			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#">Users <span class="caret"></span></a>
				<ul class="dropdown-menu">

					<li><a href="../roles/list" th:href="@{/roles/list}">All
							Roles</a></li>


				</ul></li>
		</ul>

	</div>
</nav>

<div class="container">
	<div class="row"></div>
</div>