
<link href="assets/css/bootstrap.css"
	th:href="@{/assets/css/bootstrap.css}" rel="stylesheet" />

<link rel="stylesheet" href="assets/css/bootstrap.min.css"
	th:href="@{/assets/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../assets/css/bootstrap_custom_nav_bar.css" />
<link rel="stylesheet" href="../assets/css/style.css"
	th:href="@{/assets/css/style.css}" />

	<link rel="stylesheet" href="../assets/css/fresh-bootstrap-table.css"
	th:href="@{/assets/css/fresh-bootstrap-table.css}" />


<script src="../assets/js/bootstrap.js"
	th:href="@{/assets/js/bootstrap.js}" type="text/javascript"></script>

<script src="../assets/js/jquery.min.js"
	th:href="@{/assets/js/jquery.min.js}"></script>
	
<script src="../assets/js/bootstrap.min.js"
	th:href="@{/assets/js/bootstrap.min.js}"></script>
	



