
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Course Enrollment</title>
</head>
<body>
	<div class="wrapper">
		<div th:include="layout/sidebar"></div>
		<div class="main-panel">

			<div th:include="layout/header"></div>
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-10">
							<div class="portlet-title">
								<div class="page-header">
									<h3>Course Enrollment</h3>
								</div>
							</div>
							<div class="portlet-body">
								<div class="table-responsive">
									<table class="table table-bordered">

										<thead>
											<tr>
												<th>S.NO</th>
												<th>COURSE NAME</th>

											</tr>
										</thead>
										<tbody>


											<tr th:each="courseenroll,iter  : ${COURSE_ENROLLMENT_LIST}">
												<td th:text="${iter.index+1}"></td>
												<td th:text="${courseenroll.course.courseName}"></td>
												<td><a class='btn btn-danger' href=""
													th:href="@{/coursesenrollments/delete(id=${courseenroll.id})}"><span
														class='icon-pencil'></span>Cancel Enroll</a></td>
											</tr>

										</tbody>
									</table>

								</div>
							</div>

						</div>

					</div>
				</div>
			</div>

		</div>
	</div>

</body>
</html>