<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Update BatchStudent</title>

</head>
<body>
	<div class="wrapper">
		<div th:include="layout/sidebar"></div>
		<div class="main-panel">

			<div th:include="layout/header"></div>
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-3">

							<div class="portlet-title">
								<div class="page-header">
									<h4>Update BatchStudent</h4>
								</div>
							</div>
							<div class="portlet-body">
								<form id="updateBatchStudentFrm" class="form-horizontal"
									role="form" method="GET" action="../batchstudents/update">
									
									<div class="form-group">
										<input type="hidden" class="form-control"
											th:value="${EDIT_BATCH_STUDENT.batchStudentId}" name="id"
											required="required" readonly="readonly" id="id" />
									</div>

									<div class="form-group">
										<label for="batchId">BatchName:</label> <!-- <select
											name="batchId" class="form-control">
											<option th:value="${EDIT_BATCH_STUDENT.batch.batchId}" 
												th:text="${EDIT_BATCH_STUDENT.batch.batchName}">
											</option>
										</select> -->
										<select name="batchId">
											<option th:each="b,iter  : ${BATCH_LIST}"
												th:value="${b.batchId}"
												th:text="${b.batchId} +'-' + ${b.batchName}"></option>

										</select>
									</div>

									<div class="form-group">
										<button type="submit" class="btn btn-success"
											id="updateBatchStudentBtn">Submit</button>
									</div>

								</form>

							</div>

						</div>

					</div>
				</div>
			</div>

		</div>
	</div>

</body>

</html>