
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>BatchStudents</title>
</head>
<body>
	<div class="wrapper">
		<div th:include="layout/sidebar"></div>
		<div class="main-panel">

			<div th:include="layout/header"></div>
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-10">
							<div class="portlet-title">
								<div class="page-header">
									<h3 th:text="${BATCH_DETAIL.batchName}">List of Route Boardings</h3>
								</div>
							</div>
							<div class="portlet-body">
								<div class="table-responsive">
									<table class="table table-bordered">

										<thead>
											<tr>
												<th>S.NO</th>
												<th>BATCH NAME</th>
												<th>STUDENT NAME</th>


											</tr>
										</thead>
										<tbody>


											<tr th:each="bs,iter  : ${BATCH_STUDENT_LIST}">
												<td th:text="${iter.index+1}"></td>
												<td th:text="${bs.batch.batchName}"></td>
												<td th:text="${bs.user.name}"></td>

											</tr>

										</tbody>
									</table>
									
								</div>
							</div>

						</div>

					</div>
				</div>

			</div>

		</div>
	</div>

</body>
</html>