
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Courses</title>
</head>
<body>
	<div th:include="layout/header"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-18">
				<div class="portlet-title">
					<div class="page-header">
						<h3>Courses</h3>
					</div>
				</div>
				<div class="portlet-body">
					<!-- 					<div class="table-responsive">

						<table class="table table-bordered">

							<thead>
								<tr>
									<th>S.NO</th>
									<th>COURSE NAME</th>
									<th>DESCRIPTION</th>
									<th>ACTIVE</th>
									<th>CREATED BY</th>
									<th>CREATED DATE</th>
									<th>MODIFIED BY</th>
									<th>MODIFIED DATE</th>


								</tr>
							</thead>
							<tbody>


								<tr th:each="course,iter  : ${COURSE_LIST}">
									<td th:text="${iter.index+1}"></td>
									<td th:text="${course.courseName}"></td>
									<td th:text="${course.description}"></td>
									<td th:text="${course.active}"></td>
									<td th:text="${course.createdBy}"></td>
									<td th:text="${course.createdDate}"></td>
									<td th:text="${course.modifiedBy}"></td>
									<td th:text="${course.modifiedDate}"></td>

									<td><a class='btn btn-success' href=""
										th:href="@{/courses/create}"><span class='icon-pencil'></span>Add</a></td>

									<td><a class='btn btn-success' href=""
										th:href="@{/courses/edit(id=${course.courseId})}"><span
											class='icon-pencil'></span>Edit</a></td>

									<td><a class='btn btn-danger' href=""
										th:href="@{/courses/courseDisable(id=${course.courseId})}"><span
											class='icon-pencil'></span>Disable</a></td>

									<td><a class='btn btn-success' href=""
										th:href="@{/courses/courseEnable(id=${course.courseId})}"><span
											class='icon-pencil'></span>Enable</a></td>

									<td><a class='btn btn-success' href=""
										th:href="@{/coursesenrollments/courseEnroll(courseId=${course.courseId})}"><span
											class='icon-pencil'></span>Enroll</a></td>

								</tr>

							</tbody>
						</table>
 </div>
 -->

					<div class="row">
						<div class="col-sm-6" th:each="course,iter  : ${COURSE_LIST}">
							<div class="card">
								<div class="card-block">
									<h3 class="card-title" th:text="${course.courseName}"></h3>
									<p class="card-text" th:text="${course.description}"></p>
								<a href="#" th:href="@{/api/coursesenrollments/courseEnroll(courseId=${course.courseId})}" class="btn btn-primary btn-sm">Enroll Course</a>
								<a href="#" th:href="@{/coursevideos/list(courseId=${course.courseId})}" class="btn btn-primary btn-sm">View Courses</a>
							</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</body>
</html>