<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Update CourseModule</title>

</head>
<body>
	<div class="wrapper">
		<div th:include="layout/sidebar"></div>
		<div class="main-panel">

			<div th:include="layout/header"></div>
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-3">

							<div class="portlet-title">
								<div class="page-header">
									<h4>Update CourseModule</h4>
								</div>
							</div>
							<div class="portlet-body">
								<form id="updateCourseModuleFrm" class="form-horizontal"
									role="form" method="GET" action="../coursemodules/update">
									<div class="form-group">
										<input type="hidden" class="form-control"
											th:value="${EDIT_COURSE_MODULE.courseModuleId}" name="id"
											required="required" readonly="readonly" id="id" />
									</div>

									<div class="form-group">
										<label for="courseId">CourseName:</label> <select
											name="courseId" class="form-control">
											<option th:value="${EDIT_COURSE_MODULE.course.courseId}"
												th:text="${EDIT_COURSE_MODULE.course.courseName}">
											</option>
										</select>
									</div>

									<div class="form-group">
										<label for="moduleName">ModuleName:</label><input type="text"
											class="form-control"
											th:value="${EDIT_COURSE_MODULE.moduleName}" name="moduleName"
											id="moduleName" />
									</div>

									<div class="form-group">
										<button type="submit" class="btn btn-success"
											id="updateCourseModuleBtn">Submit</button>
									</div>

								</form>

							</div>

						</div>

					</div>
				</div>
			</div>

		</div>
	</div>

</body>

</html>