
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>CourseModules</title>
</head>
<body>
<div th:include="layout/header"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-18">
				<div class="portlet-title">
					<div class="page-header">
						<h3>CourseModules</h3>
					</div>
				</div>
				<div class="portlet-body">
					<div class="table-responsive">
						<table class="table table-bordered">

							<thead>
								<tr>
									<th>S.NO</th>
									<th>CATEGORY NAME</th>
									<th>COURSE NAME</th>
									<th>ACTIVE</th>
									<th>CREATED DATE</th>
									<th>MODIFIED DATE</th>								
									
								</tr>
							</thead>
							<tbody>

									
								<tr th:each="coursecategory,iter  : ${COURSE_CATEGORY_LIST}">
								<td th:text="${iter.index+1}"></td>
								   <td th:text="${coursecategory.category.categoryName}"></td>
									<td th:text="${coursecategory.course.courseName}"></td>									
									<td th:text="${coursecategory.active}"></td>
									<td th:text="${coursecategory.createdDate}"></td>
									<td th:text="${coursecategory.modifiedDate}"></td>
									
									<td><a class='btn btn-success' href="" th:href="@{/coursecategories/create}"><span
											class='icon-pencil'></span>Add</a></td>
											
									<td><a class='btn btn-success'  href=""
										th:href="@{/coursecategories/edit(id=${coursecategory.ccId})}"><span
											class='icon-pencil'></span>Edit</a></td>
									
											<td><a class='btn btn-danger'  href=""
										th:href="@{/coursecategories/delete(id=${coursecategory.ccId})}"><span
											class='icon-pencil'></span>Delete</a></td>
									
								</tr>

							</tbody>
						</table>

					</div>
				</div>
				
			</div>

		</div>
	</div>


</body>
</html>