
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Batches</title>
</head>
<body>
	<div class="wrapper">
		<div th:include="layout/sidebar"></div>
		<div class="main-panel">

			<div th:include="layout/header"></div>
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-10">
							<div class="portlet-title">
								<div class="page-header">
									<h3>Batches</h3>
								</div>
							</div>
							<div class="portlet-body">
								<div class="table-responsive">
									<table class="table table-bordered">

										<thead>
											<tr>
												<th>S.No</th>
												<th>BATCHES NAME</th>

											</tr>
										</thead>
										<tbody>


											<tr th:each="batch,iter  : ${BATCH_LIST}">
												<td th:text="${iter.index+1}"></td>
												<!-- <td th:text="${batch.batchName}"></td> -->
												<td><a href=""
													th:href="@{/batchstudents/listBatchStudent(batchId=${batch.batchId})}"
													th:text="${batch.batchName}"></a></td>
												<td><a class='btn btn-success' href=""
													th:href="@{/batches/edit(id=${batch.batchId})}"><span
														class='icon-pencil'></span>Edit</a></td>
												<td><a class='btn btn-danger' href=""
													th:href="@{/batches/delete(id=${batch.batchId})}"><span
														class='icon-pencil'></span>Delete</a></td>

											</tr>

										</tbody>
									</table>
									<br /> <a class='btn btn-success' href=""
										th:href="@{/batches/create}"><span class='icon-pencil'></span>Add</a>
								</div>
							</div>

						</div>

					</div>
				</div>

			</div>

		</div>
	</div>

</body>
</html>