
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>UserCourseVideos</title>
</head>
<body>
	<div class="wrapper">
		<div th:include="layout/sidebar"></div>
		<div class="main-panel">

			<div th:include="layout/header"></div>
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-8">
							<h3 th:text="${COURSE_DETAIL.courseName}">UserCourseVideos</h3>
							
							<div class="progress">
								<div class="progress-bar progress-bar-success"
									role="progressbar" aria-valuemin="0" aria-valuemax="100"
									th:style="'width:' + ${COURSE_PERCENTAGE} + '%'"
									th:text="${COURSE_PERCENTAGE} + '% Completed'"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="portlet-title">
								<div class="page-header"></div>
							</div>
							<div class="portlet-body">





								<div class="table-responsive">
									<table class="table table-bordered">

										<thead>
											<tr>
												<th>S.No</th>
												<th>Video</th>
												<th>Status</th>

											</tr>
										</thead>
										<tbody>


											<tr th:each="c,iter  : ${USER_COURSE_VIDEO_LIST}">
												<td th:text="${iter.index+1}"></td>

												<td><iframe width="260" height="200" src=""
														th:src="${c.courseVideo.video.url}" frameborder="0"></iframe>
												</td>

												<td th:if="${c.status=='PENDING'}"><a
													class='btn btn-primary' href=""
													th:href="@{/usercoursevideos/updateStatus(id=${c.ucvId},courseId=${c.courseVideo.course.courseId})}"><span
														class='icon-pencil'></span>Mark as Complete</a></td>


												<td th:if="${c.status=='COMPLETED'}" th:text="${c.status}">
													<a class='btn btn-success' href="#"><span
														class='icon-pencil'></span></a>
												</td>

											</tr>

										</tbody>
									</table>

								</div>
							</div>

						</div>

					</div>
				</div>


			</div>

		</div>
	</div>
</body>
</html>