
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Roles</title>
</head>
<body>
	<div class="wrapper">
		<div th:include="layout/sidebar"></div>
		<div class="main-panel">

			<div th:include="layout/header"></div>
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-10">
							<div class="portlet-title">
								<div class="page-header">
									<h3>Roles</h3>
								</div>
							</div>
							<div class="portlet-body">
								<div class="table-responsive">
									<table class="table table-bordered">

										<thead>
											<tr>
												<th>S.No</th>
												<th>ROLE NAME</th>

											</tr>
										</thead>
										<tbody>


											<tr th:each="role,iter  : ${ROLE_LIST}">
												<td th:text="${iter.index+1}"></td>
												<td th:text="${role.name}"></td>

												<td><a class='btn btn-success' href=""
													th:href="@{/roles/edit(id=${role.id})}"><span
														class='icon-pencil'></span>Edit</a></td>
												<td><a class='btn btn-danger' href=""
													th:href="@{/roles/delete(id=${role.id})}"><span
														class='icon-pencil'></span>Delete</a></td>

											</tr>

										</tbody>
									</table>
									<br />
									<a class='btn btn-success' href="" th:href="@{/roles/create}"><span
										class='icon-pencil'></span>Add</a>
								</div>
							</div>

						</div>

					</div>
				</div>

			</div>

		</div>
	</div>

</body>
</html>